.buttonWrapper{
    all: unset;
    color: var(--primary-color-light);
    padding: 8px 10px;
    border: 0.5px solid;
    border-radius: 0.2em;
    font-size: x-small;
    cursor: pointer;
    transition: background 250ms ease-in-out;
}

.buttonWrapper:hover{
    background: rgba(255, 255, 255, 0.196);
}