.buttonWrapper{
    all: unset;
    color: var(--primary-color-light);
    padding: 8px 10px;
    border-radius: 0.2em;
    font-size: xx-small;
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--primary-color-dark);
    margin: 5px 0 20px 0;
    text-transform: uppercase;
    width: 145px;
}